<header>
	Ember Data Demo
</header>
<section local-class="body">
	<aside>
		<ul class="list-group">
			{{#link-to 'index' tagName="li" class="list-group-item" }}
				Application
			{{/link-to}}
			{{#link-to "customizing-serializer" tagName='li' class="list-group-item" }}
				JSONAPISerializer
			{{/link-to}}
			{{#link-to "jsonapiadapter" tagName='li' class="list-group-item" }}
				JSONAPIAdapter
			{{/link-to}}
			{{#link-to "model-demo" tagName='li' class="list-group-item" }}
				Model Demo
			{{/link-to}}
			{{#link-to "js-function" tagName='li' class="list-group-item" }}
				JavaScript Functions
			{{/link-to}}
		</ul>
	</aside>
	<section class="container">
		{{outlet}}
	</section>
</section>