<header>
	Ember Data Demo
</header>
<section local-class="body">
	<aside>
		<ul class="list-group">
			{{#link-to "customizing-serializer" tagName='li' class="list-group-item" }}
				JSONAPISerializer
			{{/link-to}}
			{{#link-to "jsonapiadapter" tagName='li' class="list-group-item"}}
				JSONAPIAdapter
			{{/link-to}}
		</ul>
	</aside>
	<section class="container">
		{{outlet}}
	</section>
</section>