<nav class="nav">
	{{#link-to "jsonapiadapter" class="nav-link" }}
		JSONAPIAdapter
	{{/link-to}}
	{{#link-to "jsonapiadapter.urlconventions" class="nav-link" }}
		urlConventions
	{{/link-to}}
	{{#link-to "jsonapiadapter.properties" class="nav-link" }}
		properties
	{{/link-to}}
	{{#link-to "jsonapiadapter.fetchrecord" class="nav-link" }}
		FetchRecord
	{{/link-to}}
	{{#link-to "jsonapiadapter.generateIdForRecord" class="nav-link" }}
		GenerateIdForRecord
	{{/link-to}}
</nav>
{{outlet}}