<nav class="nav">
	{{#link-to "model-demo" class="nav-link" }}
		ModelDemo
	{{/link-to}}
	{{#link-to "model-demo.fetch" class="nav-link" }}
		Fetch
	{{/link-to}}
	{{#link-to "model-demo.operating" class="nav-link" }}
		Operating
	{{/link-to}}
</nav>
{{outlet}}