<nav class="nav nav-fill">
	{{#link-to "customizing-serializer" class="nav-link" }}
		customizingSerializer
	{{/link-to}}
	{{#link-to "customizing-serializer.format" class="nav-link" }}
		format
	{{/link-to}}
</nav>
{{outlet}}