<nav>
	{{#link-to "customizing-serializer" activeClass="li-active" }}
		customizingSerializer
	{{/link-to}}
	{{#link-to "customizing-serializer.format"  activeClass="li-active"}}
		format
	{{/link-to}}
</nav>
{{outlet}}